<!DOCTYPE html>
<html lang="en">

    {% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}" type="text/css">
    <script src="https://kit.fontawesome.com/8f0acfe79d.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="nav-container">  
            <li class="nav-sc margin-left"><a href=""><img src="../static/image/sc.PNG" width="184" height="46" alt="SOUNDCLOUD"></li>
            <li class="nav-itemleft1"><a href="">Home</a></li>
            <li class="nav-itemleft"><a href="">Stream</a></li>
            <li class="nav-itemleft"><a href="">Library</a></li>
            <li class="nav-search"><input type="text" placeholder="Search for artists, bands, tracks, podcasts"></li>
            <a href=""><i class="fas fa-search"></i></a> 
        <div class="account">      
            <button type="button" class="signin">Sign in</button>
            <button type="button" class="createaccount">Create account</button>
        </div>
            <li class="nav-item"><a href="">Upload</a></li>
            <a href=""><i class="fas fa-ellipsis-h"></i></a>
            
    </nav>

    <main class="main-container">
        <div class="section-all">
        <section class="section-container">
            <h2 class="section-title">Chart: Top 50</h2>
            <p class="section-description">The most played tracks on SoundCloud this week</p>
            <li class="album">
                <img src="../static/image/ph-1.jpeg" width="172.9624" height="172.9624" alt="SOUNDCLOUD">
                <p1>All music genres</p1>
                <p2>Top 50</p2>
            </li>
            <li class="album">
                <img src="../static/image/우기.jpeg" width="172.9624" height="172.9624" alt="SOUNDCLOUD">
                <p1>Global Beats</p1>
                <p2>Top 50</p2>
            </li>
            <li class="album">
                <img src="../static/image/슈화.jpeg" width="172.9624" height="172.9624" alt="SOUNDCLOUD">
                <p1>Hip-hop % Rap</p1>
                <p2>Top 50</p2>
            </li>
            <li class="album">
                <img src="../static/image/수진.jpeg" width="172.9624" height="172.9624" alt="SOUNDCLOUD">
                <p1>Pop</p1>
                <p2>Top 50</p2>
            </li>
        </section>

         <section class="section-container">
            <h2 class="section-title">Chart: New & hot</h2>
            <p class="section-description">Up-and-coming tracks on SoundCloud</p>
            <li class="album">
                <img src="../static/image/에스파.jpeg" width="172.9624" height="172.9624" alt="SOUNDCLOUD">
                <p1>All music genres</p1>
                <p2>New & hot</p2>
            </li>
            <li class="album">
                <img src="../static/image/에스파2.jpeg" width="172.9624" height="172.9624" alt="SOUNDCLOUD">
                <p1>Global Beats</p1>
                <p2>New & hot</p2>
            </li>
            <li class="album">
                <img src="../static/image/에스파3.jpeg" width="172.9624" height="172.9624" alt="SOUNDCLOUD">
                <p1>Hip-hop % Rap</p1>
                <p2>New & hot</p2>
            </li>
            <li class="album">
                <img src="../static/image/수진.jpeg" width="172.9624" height="172.9624" alt="SOUNDCLOUD">
                <p1>Pop</p1>
                <p2>New & hot</p2>
            </li>
        </section>

        <section class="section-container">
            <h2 class="section-title">Study</h2>
            <p class="section-description">Popular playlists from the SoundCloud community</p>
            <li class="album">
                <img src="../static/image/아린.jpg" width="172.9624" height="172.9624" alt="SOUNDCLOUD">
                <p1>Jazz hip 4</p1>
                <p2>soo</p2>
            </li>
            <li class="album">
                <img src="../static/image/이홍기.jpg" width="172.9624" height="172.9624" alt="SOUNDCLOUD">
                <p1>lofi 4 studying</p1>
                <p2>suri</p2>
            </li>
            <li class="album">
                <img src="../static/image/케이.jpg" width="172.9624" height="172.9624" alt="SOUNDCLOUD">
                <p1>Jazz hip 6</p1>
                <p2>soo</p2>
            </li>
            <li class="album">
                <img src="../static/image/유정.jpeg" width="172.9624" height="172.9624" alt="SOUNDCLOUD">
                <p1>Stella's Coffee House</p1>
                <p2>Mah</p2>
            </li>
        </section>

        <section class="section-container">
            <h2 class="section-title">Chill</h2>
            <p class="section-description">Popular playlists from the SoundCloud community</p>
            <li class="album">
                <img src="../static/image/케이.jpg" width="172.9624" height="172.9624" alt="SOUNDCLOUD">
                <p1>| Chill | Lofi | Hip Hop |</p1>
                <p2>helennpham</p2>
            </li>
            <li class="album">
                <img src="../static/image/우기.jpeg" width="172.9624" height="172.9624" alt="SOUNDCLOUD">
                <p1>musicas relaxantes</p1>
                <p2>lihcogine</p2>
            </li>
            <li class="album">
                <img src="../static/image/유정.jpeg" width="172.9624" height="172.9624" alt="SOUNDCLOUD">
                <p1>jazzhip 7</p1>
                <p2>soo</p2>
            </li>
            <li class="album">
                <img src="../static/image/ph-1.jpeg" width="172.9624" height="172.9624" alt="SOUNDCLOUD">
                <p1>Morning Chillout</p1>
                <p2>Mighty</p2>
            </li>
        </section>

        <section class="section-container">
            <h2 class="section-title">Party</h2>
            <p class="section-description">Popular playlists from the SoundCloud community</p>
            <li class="album">
                <img src="../static/image/슈화.jpeg" width="172.9624" height="172.9624" alt="SOUNDCLOUD">
                <p1>Summer 2k17</p1>
                <p2>lilly manning</p2>
            </li>
            <li class="album">
                <img src="../static/image/에스파2.jpeg" width="172.9624" height="172.9624" alt="SOUNDCLOUD">
                <p1>Best of House Music(Vol.01)</p1>
                <p2>Westcoast Radio (EDM)<p2>
            </li>
            <li class="album">
                <img src="../static/image/에스파3.jpeg" width="172.9624" height="172.9624" alt="SOUNDCLOUD">
                <p1>Best Of MrRevillz</p1>
                <p2>Ilyana Azman</p2>
            </li>
            <li class="album">
                <img src="../static/image/에스파.jpeg" width="172.9624" height="172.9624" alt="SOUNDCLOUD">
                <p1>Best of Deep House (Vol. 02)</p1>
                <p2>Westcoast Radio (EDM)</p2>
            </li>
        </section>

        <section class="section-container">
            <h2 class="section-title">Relax</h2>
            <p class="section-description">Popular playlists from the SoundCloud community</p>
            <li class="album">
                <img src="../static/image/우기.jpeg" width="172.9624" height="172.9624" alt="SOUNDCLOUD">
                <p1>All music genres</p1>
                <p2>ReHàß ♪♪</p2>
            </li>
            <li class="album">
                <img src="../static/image/유정.jpeg" width="172.9624" height="172.9624" alt="SOUNDCLOUD">
                <p1>Global Beats</p1>
                <p2>Mighty</p2>
            </li>
            <li class="album">
                <img src="../static/image/이홍기.jpg" width="172.9624" height="172.9624" alt="SOUNDCLOUD">
                <p1>Hip-hop % Rap</p1>
                <p2>User 101682266</p2>
            </li>
            <li class="album">
                <img src="../static/image/케이.jpg" width="172.9624" height="172.9624" alt="SOUNDCLOUD">
                <p1>Pop</p1>
                <p2>Rehan Khan 55</p2>
            </li>
        </section>

        <section class="section-container">
            <h2 class="section-title">Sleep</h2>
            <p class="section-description">Popular playlists from the SoundCloud community</p>
            <li class="album">
                <img src="../static/image/ph-1.jpeg" width="172.9624" height="172.9624" alt="SOUNDCLOUD">
                <p1>All music genres</p1>
                <p2>Top 50</p2>
            </li>
            <li class="album">
                <img src="../static/image/우기.jpeg" width="172.9624" height="172.9624" alt="SOUNDCLOUD">
                <p1>Global Beats</p1>
                <p2>Top 50</p2>
            </li>
            <li class="album">
                <img src="../static/image/슈화.jpeg" width="172.9624" height="172.9624" alt="SOUNDCLOUD">
                <p1>Hip-hop % Rap</p1>
                <p2>Top 50</p2>
            </li>
            <li class="album">
                <img src="../static/image/수진.jpeg" width="172.9624" height="172.9624" alt="SOUNDCLOUD">
                <p1>Pop</p1>
                <p2>Top 50</p2>
            </li>
        </section>

        <section class="section-container">
            <h2 class="section-title">Workout</h2>
            <p class="section-description">Popular playlists from the SoundCloud community</p>
            <li class="album">
                <img src="../static/image/ph-1.jpeg" width="172.9624" height="172.9624" alt="SOUNDCLOUD">
                <p1>All music genres</p1>
                <p2>Top 50</p2>
            </li>
            <li class="album">
                <img src="../static/image/우기.jpeg" width="172.9624" height="172.9624" alt="SOUNDCLOUD">
                <p1>Global Beats</p1>
                <p2>Top 50</p2>
            </li>
            <li class="album">
                <img src="../static/image/슈화.jpeg" width="172.9624" height="172.9624" alt="SOUNDCLOUD">
                <p1>Hip-hop % Rap</p1>
                <p2>Top 50</p2>
            </li>
            <li class="album">
                <img src="../static/image/수진.jpeg" width="172.9624" height="172.9624" alt="SOUNDCLOUD">
                <p1>Pop</p1>
                <p2>Top 50</p2>
            </li>
        </section>    
        </div>
        <aside>
            <p><a href="">Legal</a> ⁃ 
                <a href="">Privacy</a> ⁃ 
                <a href="">Cookie Policy</a> ⁃ 
                <a href="">Cookie Manager</a> ⁃ 
                <a href="">Imprint</a> ⁃ 
                <a href="">Creator Resources</a> ⁃ 
                <a href="">Blog</a> ⁃ 
                <a href="">Charts</a> ⁃
                <a href=""><p2 class="aside-language">Language:</p2> English (US)</a>
            </p>
        </aside>
    </main>
</body>
</html>